@import url('https://fonts.googleapis.com/css?family=Coustard');

* {
	font-family: 'Coustard', serif;
}

h1, h2, h3, h4, h5, h6, a {
	font-family: 'Coustard', serif;
}

body {
	background-color: #2B3039;	
}

#section-title .callout {
	background-color: #2B3039;
	border-bottom: 1px solid rgba(200, 200, 200, 0.4) ;
	border-top: none;
	border-left: none;
	border-right: none;
	color: #8BC34A;
}

#section-login .tabs {
	background-color: #2B3039;
	color: #8BC34A;
	border:none;
}

.tabs-title, 
.tabs-title a {
	display: inline-block;
	float: none;
	text-transform: uppercase;
	background-color: #2B3039;
	font-size: 15px;
	color:#2B8F39;
}

.tabs-title a:hover {
	background-color: #2B3039;
	color:#8BC34A;
}

.tabs-title.is-active a {
	background-color: #2B3039;
	color:#8BC34A;
}

.tabs-panel {
	margin-top: 20px;
	color: white;
	font-size: 20px;
}

.tabs-panel a {
	margin-top: 10px;
	font-size: 15px;
	color: rgba(200, 200, 200, 0.6);
}

.tabs-panel a:hover {
	color: rgba(200, 200, 200, 0.8);
}

#notificationError.callout {
	color: rgb(50, 50, 50);
}

#panelLogin label,
#panelRegister label {
	font-size: 20px;
	color: white;
}


/*
.row, .column {
	border: 1px solid white;
}
*/